.btn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	background-color: rgb(136, 118, 94);
	color: white;
	border: none;
	cursor: pointer;
}

.btn:active {
	background-color: rgb(95, 81, 63);
}
