.login-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* should be changed */
	background-image: url('../images/flush-doors_Oen_1267.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.login-form {
	max-width: 500px;
	min-height: 350px;
	width: 70%;
	background: white;
}

.login-form .form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: calc(100% - 60px);
}

.login-form .form input {
	margin: 5px 0px 15px 0px;
	width: 80%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
}

.login-form .form label {
	font-weight: 700;
}

.login-title {
	padding: 30px;
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	color: white;
}

.login-text {
	padding: 30px 30px 0px 30px;
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	color: rgb(136, 118, 94);
}

* {
	font-family: Roboto Slab, sans-serif;
	color: #434343;
}

.login-error {
	width: 100%;
	padding: 20px;
}

.error-text {
	width: 100%;
	text-align: center;
	color: red;
	font-size: 12px;
	min-height: 12px;
}

.contact-us {
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
	cursor: pointer;
}
