.modal {
	font-size: 12px;
}
.modal > .header {
	width: 100%;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	font-weight: 700;
	color: rgb(136, 118, 94);
}
.modal > .content {
	width: 100%;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}
.modal > .actions > .button {
	border-radius: 5px;
	background-color: #117a8b;
	padding: 5px 15px;
	border-color: #117a8b;
}
.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.modal > .content > input {
	flex: 1;
	margin: 5px 0px;
}
